CONFIG_ARCH_SUNXI=y
CONFIG_64BIT=y
CONFIG_MACH_PINE64_PINEPHONE=y
CONFIG_MACH_PINE64_PINE64=y
CONFIG_DEBUG_LL=y
CONFIG_DRIVER_SERIAL_NS16550=y
CONFIG_MCI=y
CONFIG_MCI_SUNXI_SMHC=y
CONFIG_CMD_DMESG=y
CONFIG_MCI_STARTUP=y
CONFIG_FS_FAT=y
CONFIG_IMAGE_COMPRESSION_XZKERN=y
